body {
    background-color: rgba(77, 175, 255, 0.671);
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    background-color: rgba(0, 96, 175, 0.671);
}

h2 {
    font-size: 35px;
    background-color: rgba(0, 96, 175, 0.671);
}